
<div class="jumbotron text-center">
  <!-- evento click con metodo tirarDados -->
  <button class="btn btn-success btn-lg mt 4" (click)="tirarDados()">Iniciar tirada</button>
  <br>
  <br>
  <p><strong>Consigue en una tirada que los dos dados sean iguales y habrás ganado</strong></p>
  <br>
  <img class="img" [src]="dadoIzquierda">
  <img class="img" [src]="dadoDerecha">
  <br>
  <br>
  <!-- https://getbootstrap.com/docs/5.0/components/badge/ -->
  <!-- como queremos que solo se muestre cuando los dos dados sean igual usamos *ngIf -->
  <h2 *ngIf="numero1 === numero2"><span class="badge bg-success">¡Has ganado!</span></h2>
</div>
